/*Default code Start*/


.marketplace-lander .marketplace-lander-content-title{
    font-size: 3.5rem;
    line-height: 4rem;
    /*font-family: 'Palanquin Dark', sans-serif;*/
}

@media only screen and (max-width: 960px) {
    .marketplace-lander .marketplace-lander-content-title{
        font-size: 2.5rem;
        line-height: 3rem;
    }
}

@media only screen and (max-width: 600px) {
    .marketplace-lander .marketplace-lander-content-title{
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

.marketplace-lander .marketplace-lander-content {
    padding: 3rem 1rem 12rem 1rem;
}

@media only screen and (max-width: 600px) {
    .marketplace-lander .marketplace-lander-content {
        padding: 3rem 1rem 14rem 1rem;
    }
}

.marketplace-lander p {
    max-width: 32em;
    /*font-family: 'Palanquin', sans-serif;*/
    text-align: center;
}

@media only screen and (max-width: 960px) {
    .marketplace-lander p {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 600px) {
    .marketplace-lander p {
        font-size: 1rem;
    }
}

.marketplace-lander .marketplace-title-header h1 {
    font-family: 'Source Sans Pro', sans-serif;
}
/*Default code End*/


.fluid-thumbnail-grid-image-overlay{
    display: none;
}


.fluid-thumbnail-grid-image-price-container {
    position: relative;
    background: none;
    padding: 5px;
    display: inline;
    float: left;
    min-width: 10px;
    text-align: left;
    max-width: 85px;
}

.home-fluid-thumbnail-grid-author-avatar-image{
    display: none;
}

.fluid-thumbnail-grid-image-title{
    position: relative;
    color: #3c3c3c;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.home-fluid-thumbnail-grid-author-name{
    position: relative;
    top: -5px;
    left:0;
    line-height: 15px;
}


.home-fluid-thumbnail-grid-author{
    padding: 5px;
    background: #fff;
}

.price-container{
    float: left;
}

.info-container{
    float: left;
}

.fluid-thumbnail-grid-image-image-container .fluid-thumbnail-grid-image-title,
.fluid-thumbnail-grid-image-image-container .fluid-thumbnail-grid-image-price-container,
.home-fluid-thumbnail-grid-author .home-fluid-thumbnail-grid-author-name{
    visibility: hidden;
}

.customized .fluid-thumbnail-grid-image-title,
.customized .fluid-thumbnail-grid-image-price-container,
.customized .home-fluid-thumbnail-grid-author .home-fluid-thumbnail-grid-author-name{
    visibility: visible !important;
}

.fluid-thumbnail-grid-image-image{
    border-radius: 0;
}
.home-fluid-thumbnail-grid-author{
    border-radius: 0;
}


footer {
    background: #F0F0F0;
    background-size: contain;
    height: auto;
    position: relative;
    padding-top: 60px;
    padding-bottom: 20px;
}

footer .layout-centered-content {
    max-width: 984px;
    margin: 0 auto;
}

footer .row a {
    display: inline;
}

footer .footer-links h3 {
    font-size: 16px;
    padding-left: 15px;
    color: #959494;
    font-weight: bold;
}

footer .footer-links a {
    color: #959494;
    font-size: 14px;
}

footer .bottom-footer-links {
    padding: 0px;
    font-size: 14px;
    color: #959494;
}

footer .bottom-footer-links li {
    list-style-type: none;
    padding-right: 20px;
    display: inline;
}

footer .bottom-footer-links li a {
    color: #959494;
    display: inline;
    font-size: 14px;
}

footer .social-links-list {
    margin-top: 5px;
    padding: 0px;
    text-align: left;
}

footer .social-links-list li {
    list-style-type: none;
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: 0px 10px 0px 0px;
    padding-right: 0;
}

footer .social-links-list li a {
    display: block;
    height: 30px;
    /*padding: 40px 0px 0px 0px;*/
    overflow: hidden;
}

footer .social-links-list li.instagram a {
    font-size: 30px;
    color: #ccc;
}

footer .social-links-list li.twitter a {
    font-size: 30px;
    color: #ccc;
}

footer .social-links-list li.facebook a {
    font-size: 30px;
    color: #ccc;
}

footer .footer-store-links {
    clear: both;
    padding-top: 30px;
    text-align: center;
}

.col-xs-3, .col-sm-3, .col-xs-6, .col-sm-6, .col-xs-12, .col-sm-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-3, .col-xs-6, .col-xs-12 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-6 {
    width: 50%;
}

@media (min-width: 769px) {

    .footer-links {
        margin-left: 10%;
    }

    .col-sm-3, .col-sm-4, .col-sm-6, .col-sm-12 {
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-3 {
        width: 25%;
    }
}

.text-center {
    text-align: center;
}


.faq-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 9999;
}

.faq-overlay:target {
    visibility: visible;
    opacity: 1;
}

.faq-popup {
    margin: 30px auto;
    background: #fff;
    border-radius: 5px;
    width: 90%;
    position: absolute;
    transition: all 500ms ease-in-out;
    max-height: 90vh;
    overflow: scroll;
    top: 5vh;
    bottom: 5vh;
    left: 5%;
    right: 5%;
}
.faq-search-input-wrapper{
    position: relative;
    display: inline-block;
}

.faq-popup .main-content{
    height: 75%;
    overflow: scroll;
}
.faq-popup .box {
    background: #fff;
    margin: 10px;
    padding: 10px;
    padding-left: 30px;
}

.question-list{
    padding-left: 0;
}
.question-list li {
    padding-top: 10px;
}

.faq-popup .main-content{
    -ms-overflow-style: none;
}

.faq-popup .box .question {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 10px;
}

.top-link{
    color: #999;
    font-size:12px;
    margin-top:15px;
}

.top-link .navigate-top::before {
    padding: 5px;
}

.popup-header{
    padding: 20px 20px 10px 20px;
    padding-left: 40px;
}

.faq-popup h2 {
    margin: 0;
    color: #333;
}

.faq-popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.faq-popup .close:hover {
    color: #d80606;
}

.faq-popup .content {
    overflow: auto;
}

.faq-popup .question-link:hover {
    font-weight: 600;
}

.faq-popup .navigate-top{
    cursor: pointer;
}
.question-list, .question-list a{
    color:  #3c3c3c;
}

body.faq-open {
    overflow: hidden;
    position: fixed;
}

.faq-searchbar-wrapper{
    padding-top: 20px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

input.faq-searchbar {
    padding: 10px;
    background: #fff;
    border-radius: 40px;
    border: 1px solid rgba(170,173,177,0.5);
    width: 300px;
    outline: none;
    padding-left: 15px;
}

@media (max-width: 480px) {
    input.faq-searchbar{
        width: 100%;
    }
    .popup-header{
        padding-left: 20px;
    }

    .faq-search-input-wrapper{
        display: block;
    }

    .faq-search-input-wrapper svg{
        stroke: #7a7d80;
        top: 14px;
    }
}

footer .text-part{
    display: inline-block;
}
footer .icon-part{
    font-size: 18px;
}

.info-container{
    padding-left: 5px;
}

/*.login-form.centered-section-narrow, #password_forgotten .centered-section-narrow{*/
/*margin-left:0;*/
/*}*/
.login-info{
    margin-right:0;
    text-align: left;
}

.login-info-container p{
    text-align: justify;
}

.fluid-thumbnail-grid-image-title.people-listings{
    padding-top: 7px;
}

#profile-listings-list .home-fluid-thumbnail-grid-author{
    height: 40px;
}

.listing-price{
    visibility: hidden;
}
.flash-notifications{visibility: hidden;}

.login-info-container{
    background: #e9e9e9;
    padding: 10px !important;

}

.featured-categories{
    margin-bottom: 3.5em !important;
}

.featured-categories .fluid-thumbnail-grid-image-title{
    visibility: visible;
}
.featured-categories .home-fluid-thumbnail-grid-author {
    overflow: hidden;
    height: 40px;
    position: absolute;
    bottom: -38px;
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.featured-categories .fluid-thumbnail-grid-image-image{
    z-index: 2;
}

.home-fluid-thumbnail-grid{
    visibility: hidden;
}

.listing-price-amount{
    visibility: hidden;
}

.featured-categories .fluid-thumbnail-grid-image-image{
    max-height: 100%;
    max-width: 100%;
    border-bottom:0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.top-listing  .fluid-thumbnail-grid-image-image{
    max-height: 100%;
    max-width: 100%;
}
.view-all-listing .center-text-view-all{
    text-align: center;
    position: absolute;
    top: 45%;
    font-size: 18px;
}
.center-text-view-all {
    color: #000 !important;
}
.view-all-listing .fluid-thumbnail-grid-image-image-container{
    background: #f1f1f1;
}

.faq-category-title{
    padding-bottom: 0;
}
.faq-category-title span{
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px solid #e1e1e1;
    line-height: 30px;
}

.view-all-listing img{
    width: 100% !important;
    height: 100% !important;
}

#qnsHeadForShopper, #qnsHeadForSeller{
    list-style: none;
}
.qns-list{
    padding-left: 40px;
}

.padding-25{
    padding-left: 25px;
}

#qnsHeadForShopper, #qnsHeadForSeller{
    font-size: 1.15em;
}
#qnsHeadForSeller{
    padding-top: 20px;
}

.spotlight-type{
    font-size: 12px;
    font-weight: 600;
}
.full-width{
    width: 100%;
}
.text-center{
    text-align: center;
}

.view-all-listing-link-btn{
    padding: 10px 25px;
    border: 2px #0765a8 solid;
    border-radius: 5px;
    font-weight: 600;
}

.featured-seller-grid{
    overflow: hidden;
}

.featured-seller-grid .fluid-thumbnail-grid-image-image{
    position: absolute;
    top: -45px;
}